<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOYAL'S MCQ</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body class="index-page">
    <!-- Sticky Header -->
<header class="site-header">
  <div class="header-inner">
    <div class="logo">
       <img src="../image/Loyal_International_School_page-0001-removebg-preview.png" class="logo-icon" alt="Logo" />
      <span class="logo-text">Loyal's MCQ</span>
    </div>
    <nav class="main-nav">
      <a href="#">Home</a>
      <a href="#levels">Levels</a>
      <a href="./pages/contactus.html">Contact</a>
    </nav>
  </div>
</header>
  </body>
</html>